<div>

    <label>Net manhours to make (hours)</label>
    <input type="text"
           name="app_production_netHours"
           value="{{ app_production_netHours }}"
           class="widefat" />

    <label>Gross project duration (months)</label>
    <input type="text"
           name="app_production_grossHours"
           value="{{ app_production_grossHours }}"
           class="widefat" />

    <label>Team size (people)</label>
    <input type="text"
           name="app_production_teamSize"
           value="{{ app_production_teamSize }}"
           class="widefat" />

</div>